{% extends "base.html" %}

{% block title %}Service{% endblock %}

{% block head %}
<style>
    .container {
        position: relative;
        height: 75vh;
    }

    /* CSS untuk membuat layar menjadi "freeze" */
    .overlay {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.5);
        z-index: 9999;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    /* CSS untuk pesan loading */
    .loading-message {
        /* background-color: white; */
        padding: 20px;
        border-radius: 5px;
        font-size: 18px;
        color: white;
    }

    .loader {
        border: 16px solid #f3f3f3;
        /* Light grey */
        border-top: 16px solid #3498db;
        /* Blue */
        border-radius: 50%;
        width: 120px;
        height: 120px;
        animation: spin 2s linear infinite;
    }

    @keyframes spin {
        0% {
            transform: rotate(0deg);
        }

        100% {
            transform: rotate(360deg);
        }
    }
</style>
{% endblock %}


{% block content %}

<div id="loading-overlay" class="overlay">
    <div class="loader"></div>

    <div class="loading-message">
        Proses sedang berjalan, mohon menunggu
    </div>
</div>


<!-- Button trigger modal -->
<div class="container ">
    <div class="row h-100">
        <div class="col-md-12 my-auto d-flex justify-content-center h-50">
            <div class="col">
                <img class="img" id="uploadedImage" style="max-width: 250px;"
                    src="{{ url_for('static', filename='images/img-ori.png') }}">
            </div>
            <div class="col">
                <img class="img" id="grayscale-image" style="max-width: 250px;"
                    src="{{ url_for('static', filename='images/img-grey.png') }}">
            </div>
            <div class="col d-flex justify-content-between flex-column">
                <div class="input-group input-group-sm  mb-3">
                    <input class="form-control " type="file" id="inputImage" accept="image/*">
                    <div class="input-group-append">
                        <button class="btn  btn-primary " id="upload">Upload
                            Image</button>
                    </div>
                </div>
                <button class="btn btn-secondary w-50 btn-lg " id="convertToGrayscale" type="button">Preprocessing
                </button>
                <button class="btn btn-success w-50 btn-lg" id="calculateGLCM" type="button">Ekstrasi
                    GLCM</button>
                <button class="btn btn-warning w-50 btn-lg" id="calculateColorMoments" type="button">Color
                    Moments</button>

                <button class="btn btn-info w-50 btn-lg text-white" id="train" type="button">Deteksi Penyakit
                </button>
                <button class="btn btn-danger w-50 btn-lg" id="reset" type="button">Reset
                </button>
            </div>
        </div>

    </div>

</div>




<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modal-title"></h5>

            </div>

            <div class="modal-body">

                <div id="result"></div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

</div>
<script type="text/javascript">

    $(function () {
        const overlay = document.getElementById('loading-overlay');
        overlay.style.display = 'none';
        console.log("ready!");
        disableButtons(true);
        function disableButtons(disabled) {
            var buttons = document.querySelectorAll(".btn");
            for (var i = 0; i < buttons.length; i++) {
                var buttonId = buttons[i].id;
                if (buttonId !== "upload" && buttonId !== "reset") {
                    buttons[i].disabled = disabled;
                }
            }
        }
        $("#train").on("click", function () {
            trainingData()
        });

        $("#upload").on("click", function () {
            uploadImage()
        });
        $("#convertToGrayscale").on("click", function () {
            convertToGrayscale()
        });
        $("#calculateGLCM").on("click", function () {
            calculateGLCM()
        });
        $("#calculateColorMoments").on("click", function () {
            calculateColorMoments()
        });

        $("#reset").on("click", function () {
            location.reload();
        });

        function uploadImage() {
            var fileInput = document.getElementById("inputImage");
            var file = fileInput.files[0];
            if (!file) {
                alert("Silakan pilih gambar sebelum mengunggah!");
                return;
            }
            var formData = new FormData();
            formData.append("image", file);

            axios.post("/upload", formData, {
                headers: {
                    "Content-Type": "multipart/form-data"
                }
            })
                .then(function (response) {
                    document.getElementById("result").innerHTML = response.data;
                    var imageUrl = URL.createObjectURL(file);
                    document.getElementById("uploadedImage").src = imageUrl;
                    document.getElementById("uploadedImage").style.display = "block";
                    disableButtons(false);
                })
                .catch(function (error) {
                    console.log(error);
                });
        }


        function convertToGrayscale() {
            axios
                .post("/grayscale")
                .then(function (response) {
                    var grayscaleImageFilename = response.data;
                    var timestamp = new Date().getTime(); // Get current timestamp
                    var grayscaleImageURL =
                        "/uploads/" + grayscaleImageFilename + "?t=" + timestamp; // Append timestamp as a query parameter
                    document.getElementById("grayscale-image").src = grayscaleImageURL;
                    document.getElementById("result").style.display = "block";
                })
                .catch(function (error) {
                    console.log(error);
                });
        }

        function calculateGLCM() {
            axios.post("/glcm")
                .then(function (response) {

                    document.getElementById("modal-title").innerHTML = "GLCM"
                    console.log(response);
                    let table = `
                    <table class="table table-striped" id="table-result"> 
                    <tr>
                        <td>Kontras</td>
                        <td>`+ response.data.contrast + `</td>
                    </tr>
                    <tr>
                        <td>Homogenitas</td>
                        <td>`+ response.data.homogeneity + `</td>
                    </tr>
                    <tr>
                        <td>Energi</td>
                        <td>`+ response.data.energy + `</td>
                    </tr>
                    <tr>
                        <td>Korelasi</td>
                        <td>`+ response.data.correlation + `</td>
                    </tr>
                </table>`
                    document.getElementById("result").innerHTML = table;
                }).then(function () {
                    $('#myModal').modal('show')
                })
                .catch(function (error) {
                    console.log(error);
                });
        }

        function calculateColorMoments() {
            axios.post("/color-moments")
                .then(function (response) {
                    console.log(response);
                    document.getElementById("modal-title").innerHTML = "Color Moments"
                    let table = `
                    <table class="table table-striped" id="table-result"> 
                    <tr>
                        <td>Rata-rata Red</td>
                        <td>`+ response.data.r_mean + `</td>
                    </tr>
                    <tr>
                        <td>Rata-rata Green</td>
                        <td>`+ response.data.g_mean + `</td>
                    </tr>
                    <tr>
                        <td>Rata-rata Blue</td>
                        <td>`+ response.data.b_mean + `</td>
                    </tr>
                    <tr>
                        <td>Standar Deviasi Red</td>
                        <td>`+ response.data.r_std + `</td>
                    </tr>
                    <tr>
                        <td>Standar Deviasi Green</td>
                        <td>`+ response.data.g_std + `</td>
                    </tr>
                    <tr>
                        <td>Standar Deviasi Blue</td>
                        <td>`+ response.data.b_std + `</td>
                    </tr>
                   
                </table>`
                    document.getElementById("result").innerHTML = table;
                })
                .then(function () {
                    $('#myModal').modal('show')
                })
                .catch(function (error) {
                    console.log(error);
                });
        }

        function trainingData() {
            const overlay = document.getElementById('loading-overlay');
            overlay.style.display = 'flex';
            console.log('Train Function Run');
            axios
                .get("/train")
                .then(function (response) {
                    overlay.style.display = 'none';
                    console.log('Berhasil Test');
                    const testResult = JSON.parse(response.data.test_result);
                    console.log(testResult);

                    // Convert the JSON response to HTML table
                    let table = '<table class="table table-striped" id="table-result">';

                    table += '<tr>';
                    for (const item in testResult) {
                        table += `<th>${item}</th>`;
                    }
                    table += '</tr>';

                    table += '<tr>';
                    for (const item in testResult) {
                        if (item === 'accuracy') {
                            const accuracyValue = parseFloat(testResult[item]).toFixed(2);
                            table += `<td>${accuracyValue} %</td>`;
                        } else {
                            table += `<td>${testResult[item]}</td>`;
                        }
                    }
                    table += '</tr>';

                    table += '</table>';

                    // Display the table in a target element
                    const targetElement = document.getElementById('result');
                    targetElement.innerHTML = table;
                })
                .then(function () {
                    $('#myModal').modal('show')
                })
                .catch(function (error) {
                    console.log(error);
                    overlay.style.display = 'none';
                });
        }
    });




</script>
{% endblock %}