{% extends "base.html" %}

{% block title %}Service{% endblock %}
{% block head %} 
<link rel="stylesheet" href="{{ url_for('static', filename='css/touchTouch.css') }}">
<script>
    $(window).load( function(){
        $().UItoTop({ easingType: 'easeOutQuart' });
        $('form').forms({
            ownerEmail:'#'
        }); 
    });
</script>

{% endblock %}
{% block content %}
<div class="content">
    <div class="bg-1">
        <div class="container_16">
            <div class="row row-1 p2">
                <div class="grid_4 prefix_1 bord-1 btn-wrapper">
                    <div class="maxheight">
                        <div class="aligncenter"><img src="{{ url_for('static', filename='images/page-1_img-1.png' ) }}" alt=""></div>
                        <h2 style="height: 120px;">Preprocessing </h2>
                        <h4>Preprocessing </h4>
                        <div>Pada tahap ini sampel citra daun jagung di inputkan dan nantinya akan di lakukan proses grayscale.</div>
                       
                    </div>
                </div>
                <div class="grid_4 prefix_1 bord-1 btn-wrapper">
                    <div class="maxheight">
                        <div class="aligncenter"><img src="{{ url_for('static', filename='images/page-1_img-2.png' ) }}" alt=""></div>
                        <h2 style="height: 120px;">Ekstrasi GLCM</h2>
                        <h4>Ekstrasi GLCM</h4>
                        <div>Tahap ini merupakan proses dari ekstraksi teksture di mana sampel  melakukan ekstraksi fitur  tekstur dengan menggunakan Gray Level Co-occurence Matrix (GLCM)</div>
                       
                    </div>
                </div>
                <div class="grid_4 prefix_1 bord-1 btn-wrapper">
                    <div class="maxheight">
                        <div class="aligncenter"><img src="{{ url_for('static', filename='images/page-1_img-1.png' ) }}" alt=""></div>
                        <h2 style="height: 120px;"> Color Moments</h2>
                        <h4>Color Moments</h4>
                        <div>Tahap ini color moments digunakan untuk mengukur karakteristik pada suatu distibusi warna tanaman daun jagung.
                        </div>
                       
                    </div>
                </div>
                <div class="grid_4 prefix_1 btn-wrapper">
                    <div class="maxheight">
                        <div class="aligncenter"><img src="{{ url_for('static', filename='images/page-1_img-3.png' ) }}" alt=""></div>
                        <h2 style="height: 120px;">Reset</h2>
                        <h4>Reset</h4>
                        <div> Merupakan tombol yang digunakan untuk menghapus citra hasil Deteksi.</div>
                      
                    </div>
                </div>
            </div>
        </div>
    </div>
  
</div>

{% endblock %}